@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #1f2937;
  background: #ffffff;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Noto Sans SC", sans-serif;
  background: #ffffff;
  color: #1f2937;
}

* {
  box-sizing: border-box;
}
